header nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: palevioletred;
}

header nav a {
  border-right: 1px solid black;
  padding: 2vw 8vw;
}

header nav a:last-child {
  border-right: none;
}
